<div class="mui-appbar">
    <table width="100%">
        <tr style="vertical-align:middle;">
            <td class="mui--appbar-height">
                <a href="/home"><button class="mui-btn mui-btn--danger">Home</button></a>
                <a href="/films"><button class="mui-btn mui-btn--danger">Films</button></a>
            </td>
            <td class="mui--appbar-height" align="right">
                <a href="/logout">  <button class="mui-btn mui-btn--danger">Logout</button> </a>
            </td>
        </tr>
    </table>
</div>